:root {
  --main-font-color: #212121;
  --secondary-font-color: #757575;
  --brand-color: #2196f3;
  --logo-black-font-color: #000000;
  --logo-white-font-color: #ffffff;
  --black-box-color: #2f303a;
  --our-crew-background: #f5f4fa;
  --focus-color: palevioletred;
  --footer-contact-link-color: #ffffff99;
  --navbar-border-color: #ececec;
}

* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  color: var(--main-font-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 16px;
  min-height: 100%;
  width: 1600px;
  margin: 0 auto;
}

.container {
  margin: 0px auto;
  max-width: 1200px;
}

ul {
  list-style-type: none;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 0.06em;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.75em;
  color: var(--logo-white-font-color);
}

h2 {
  text-align: center;
  font-size: 36px;
  padding-top: 94px;
  padding-bottom: 50px;
  margin: 0px;
}
h3 {
  text-align: left;
  padding-bottom: 10px;
  text-decoration: solid;
  padding-top: 20px;
}
h4 {
  margin-top: 30px;
  margin-bottom: 10px;
  text-decoration: solid;
}
/*navbar and links start*/

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
  height: 80px;
  border: 1px solid var(--navbar-border-color);
  margin: 0;
}
.contact-link-box {
  display: flex;
  padding: 0px 227px;
  column-gap: 46px;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.contact-link-box a {
  color: var(--main-font-color);
}
.nav-link-box {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  column-gap: 46px;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin: 0;
  padding-left: 93px;
}
.nav-link-box a {
  color: var(--main-font-color);
}

.top-brand-link {
  font-weight: 700;
  font-size: 26px;
  line-height: 2em;
  letter-spacing: 0.03em;
  color: var(--logo-black-font-color);
}
.bottom-brand-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 2em;
  letter-spacing: 0.03em;
  color: var(--logo-white-font-color);
}

.top-link {
  text-decoration: none;
}
a.top-link:hover {
  color: var(--brand-color);
}
a.top-link:active {
  color: var(--brand-color);
}
a.top-link:focus {
  color: var(--focus-color);
}

a.bottom-link {
  color: var(--footer-contact-link-color);
  text-decoration: none;
}
a.bottom-link:hover {
  color: var(--brand-color);
}
a.bottom-link:active {
  color: var(--brand-color);
}
a.bottom-link:focus {
  color: var(--focus-color);
}

.logo-box a {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding-left: 215px;

  /*padding-top: 24px;
  padding-bottom: 25px;
  padding-left: 15px;
  width: 145px;
  height: 31px;*/
}
.logo-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar .nav-link-box a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
/*navbar and links end*/

/*logo start*/

.brand-color {
  color: var(--brand-color);
}

/*Main start */

.big-black-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background: var(--black-box-color);
  padding: 200px 452px 200px 452px;
  row-gap: 40px;
}

.bigest-text {
  display: flex;
  justify-content: center;

  flex-wrap: wrap-reverse;
}

.studio-button {
  padding: 10px 41px 10px 42px;
  letter-spacing: 0.06em;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.87em;
  background-color: var(--brand-color);
  color: var(--logo-white-font-color);
  cursor: pointer;
}
/*button end*/

/*our strengths and workscope start*/

/*our-strengths start*/

.our-strengths {
  display: flex;
  flex-direction: row;
  padding: 94px 215px 94px 215px;
  padding-bottom: 0px;
  line-height: 1.5em;
  letter-spacing: 0.03em;
  column-gap: 30px;
  justify-content: center;
  text-decoration: none;
  color: var(--secondary-font-color);
}
.notes {
  align-content: center;
}

/*workscope start*/
.workscope {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
}
.list-of-activities {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  padding-bottom: 94px;
}
/*workscope end*/

/*our strengths and workscope end*/

/*our-crew start*/

.our-crew {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: var(--our-crew-background);
}

.list-of-our-crew {
  display: flex;
  flex-direction: row;
}
.oc {
  text-align: center;
  margin: 15px;
  margin-bottom: 94px;
  font-size: 16px;
  line-height: 1.37em;
  letter-spacing: 0.03em;

  background: var(--logo-white-font-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.oct {
  margin-bottom: 30px;
}
/*our-crew end*/

/*Our customers start*/

.our-customers {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-top: 94px;
  margin-bottom: 94px;
}

/*Our customers end*/

/*footer start*/

.little-black-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: var(--black-box-color);
}
.bottom-things {
  display: flex;
  flex-direction: column;
  padding: 60px 939px 60px 15px;
}

.bottom-things p {
  padding-bottom: 9px;
}
/*------

only portfolio styles start

*/
------




/*buttons start*/



/*buttons end*/

/*projects start*/

.projects-box {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}
.line-of-projects {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}
.project-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 50px;
  border: 1px solid #eeeeee;
}

.pbt {
  margin-bottom: 20px;
  padding-left: 24px;
}

.portfolio-page-buttons {
  padding-left: 310px;
}

.portfolio-page-buttons li {
  display: inline-block;
  line-height: 1.62em;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding-top: 94px;
  padding-bottom: 50px;

  border: none;
  text-decoration: none;
  text-align: center;
  color: var(--logo-white-font-color);
  transition-duration: 0.3s;
}
.portfolio-page-buttons li :hover {
  background-color: var(--brand-color);
  color: var(--logo-white-font-color);
  border-color: var(--brand-color);
  border: 0px;
}
.filter-btn {
  padding: 6px 22px 6px 22px;
  border: none;
  margin-left: 8px;
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*projects end*/

/*icons start*/

.icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  cursor: pointer;
  transition-duration: 0.3s;
  fill: var(--secondary-font-color);
}

.icon:hover {
  fill: var(--brand-color);
}
/*icons end*/
